%div.raptor
  .picture-300
    = link_to image_tag(@velociraptor.photo.url(:medium)), admin_velociraptor_path(@velociraptor)
  %p
    %strong Name:
    =h @velociraptor.name
  %p
    %strong Age:
    =h @velociraptor.age
  %p
    %strong Cost:
    =h @velociraptor.cost
  %p
    %strong Attack:
    =h @velociraptor.attack
  %p
    %strong Gender:
    =h @velociraptor.gender
  %p
    %strong Description:
    =h @velociraptor.description

%p
  = link_to "Edit", edit_admin_velociraptor_path(@velociraptor)
  |
  = link_to "Destroy", admin_velociraptor_path(@velociraptor), :confirm => 'Are you sure?', :method => :delete
  |
  = link_to "View All", admin_velociraptors_path
