- content_for :title do
  Members Home


%h2 Member Home
#main
  %p This is the members interface for the Armada application.
  %p This system will be part of an n-tier space battle app.
#sidebar
  %p sidebar