%div.raptor
  .picture-300
    = link_to image_tag(@velociraptor.photo.url(:medium)), velociraptor_path(@velociraptor)
  %p
    %strong Name:
    =h @velociraptor.name
  %p
    %strong Age:
    =h @velociraptor.age
  %p
    %strong Cost:
    =h @velociraptor.cost
  %p
    %strong Attack:
    =h @velociraptor.attack
  %p
    %strong Gender:
    =h @velociraptor.gender
  %p
    %strong Description:
    =h @velociraptor.description
  
  %p
    = link_to "View All", velociraptors_path
