- content_for :title do
  Administration Home


%h2 Administration Home
#main
  %p This is the administration interface for the Armada application.
  %p This system will be part of an n-tier space battle app.
#sidebar
  %p sidebar